.areas-of-expertise-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.areas-of-expertise-title {
  font-size: 20px;
  margin: 20px 0;
}

.areas-of-expertise {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.expertise {
  background-color: cornflowerblue;
  color: white;
  border-radius: 4px;
  padding: 4px;
  margin: 5px;
}
