<div class="nav-bar-extra">
  <div class="nav-bar-container">
    <div class="nav-bar-title"><a class="button" routerLink="/"routerLinkActive="activebutton" ariaCurrentWhenActive="page">Alessandro Alfano</a></div>
    <div class="nav-bar-sections">
    </div>
    <div class="nav-bar-hamburger" (click)="toggleModal()">
      <a>
        <i class="ph-bold ph-list"></i>
      </a>
    </div>
  </div>
  <div id="nav-bar-modal-id" class="nav-bar-modal">
    <div class="nav-bar-section" (click)="toggleModal()"><a class="button" routerLink="/bio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Bio</a></div>
    <div class="nav-bar-section" (click)="toggleModal()"><a class="button" routerLink="/projects" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Projects</a></div>
    <div class="nav-bar-section" (click)="toggleModal()"><a class="button" routerLink="/contacts" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contacts</a></div>
    <div class="nav-bar-section" (click)="toggleModal()"><a class="button" routerLink="/events" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Events</a></div>
  </div>
</div>
