#cv {
  -webkit-print-color-adjust: exact;
}

.cv-print-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media print {
  body {
    visibility: hidden;
  }

  .printable {
    visibility: visible;
  }
}
