<div id="cv" class="cv-container printable">
  <app-header name="{{data.name}}" title="{{data.role}}" description="{{data.description}}"
              profileImg="{{data.profileImage}}"></app-header>
  <app-contacts [contacts]="data.contacts"></app-contacts>
  <app-areas-of-expertise [expertises]="data.areasOfExpertise"></app-areas-of-expertise>
  <app-work [experiences]="data.workExperiences"></app-work>
  <app-technical-skills [skills]="data.technicalSkills"></app-technical-skills>
  <app-courses-and-training [courses]="data.coursesAndTraining"></app-courses-and-training>
  <app-interests-and-hobbies [interests]="data.interestAndHobbies"></app-interests-and-hobbies>
  <app-personal-projects [projects]="data.personalProjects"></app-personal-projects>
  <app-education [experiences]="data.education"></app-education>
  <app-languages [languages]="data.languages"></app-languages>
  <app-gdpr [gdpr]="data.gdpr"></app-gdpr>
  <app-signature [signature]="data.signImage"></app-signature>
</div>

<div class="cv-print-button-container">
  <button class="cv-print-button" (click)="printPage()">Open Printable Version</button>
  <div class="cv-print-button-text">Remember to select the <b>Print background</b> option in the print settings!</div>
</div>
