.contacts-container {
  display: flex;
  justify-content: space-evenly;
  width: 1280px;
  height: 200px;
  background-color: silver;
  border-radius: 20px;
}

.contact-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
}

.contact-entry {
  display: flex;
  align-items: center;
}

.contact-icon {
  font-size: 25px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .contacts-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 2px;
    padding: 8px;
  }
  .contact-column {
    margin: 0;
    padding: 0 20px;
  }
  .contact-entry {
    margin: 5px;
  }
}
