<div class="contacts-container">
  <div class="contact-column">
    <div><fa-icon [icon]="faEnvelopeSquare"></fa-icon> E-mail: alfano.alessandro@outlook.com</div>
    <div><a href="https://goo.gl/maps/e34PRAPH51KAyxKW7"><fa-icon [icon]="faMapPin"></fa-icon> Address: Via dei Ciliegi, 5 - 22040 Lurago d'Erba CO, Italy</a></div>
    <div><a href="https://github.com/lysandre995/"><fa-icon [icon]="faCodeBranch"></fa-icon> Github: https://github.com/lysandre995/</a></div>
  </div>
  <div class="contact-column">
    <div><fa-icon [icon]="faMobilePhone"></fa-icon> Phone: +39 331 400 1156</div>
    <div><a href="https://www.linkedin.com/in/alessandro-alfano-a03687198/"><fa-icon [icon]="faLink"></fa-icon> Linkedin: https://www.linkedin.com/in/alessandro-alfano-a03687198/</a></div>
    <!--div><a href="/"><fa-icon [icon]="faGlobe"></fa-icon> Website: www.alessandroalfano.com</a></div-->
  </div>
</div>
