<div class="contacts-container">
  <div class="contact-column">
      <a href="mailto:{{contacts.email}}" class="contact-entry">
        <i class="ph-bold ph-envelope-simple contact-icon"></i>
        E-mail: {{contacts.email}}
      </a>
      <a href="https://www.google.com/maps/search/?api=1&query={{encodeURIComponent(contacts.address)}}" class="contact-entry">
        <i class="ph-bold ph-map-pin contact-icon"></i>
        Address: {{ contacts.address }}</a>
      <a href="{{ contacts.github }}" class="contact-entry">
        <i class="ph-bold ph-github-logo contact-icon"></i>
        Github: {{ contacts.github }}
      </a>
  </div>
  <div class="contact-column">
      <a href="tel:{{ contacts.phone }}" class="contact-entry">
        <i class="ph-bold ph-device-mobile contact-icon"></i>
        Phone: {{ contacts.phone }}
      </a>
      <a href="{{ contacts.linkedin }}" class="contact-entry">
        <i class="ph-bold ph-linkedin-logo contact-icon"></i>
        Linkedin: {{ contacts.linkedin }}
      </a>
    <!--div><a href="https://www.alessandroalfano.com" class="contact-entry"><i class="ph-bold ph-globe-simple contact-icon"></i> Website: www.alessandroalfano.com</a></div-->
  </div>
</div>
