.header-container {
  display: flex;
  align-items: center;
  width: 1280px;
}

.header-container img {
  border-radius: 20px;
  width: 200px;
  margin: 10px;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  height: 200px;
}

.header-name {
  font-size: 32px;
}

.header-title {
  font-size: 24px;
  color: gray;
}

.header-description {
  text-justify: distribute;
  text-overflow-ellipsis: true;
}

@media only screen and (max-width: 848px) {
  .header-container {
    justify-content: space-between;
  }
  .header-description {
    display: none;
  }
}

@media only screen and (max-width: 570px) {
  .header-container {
    flex-direction: column;
  }
  .header-text-container {
    height: auto;
    text-align: center;
  }
  .header-description {
    display: none;
  }
}

