<div class="area-of-expertise-container">
  <div class="area-of-expertise-title">Areas of Expertise</div>
  <div class="area-of-expertise-row">
    <div class="expertise">Full Stack Development</div>
    <div class="expertise">Databases</div>
    <div class="expertise">Oracle</div>
    <div class="expertise">AWS Cloud Environment</div>
    <div class="expertise">Agile Development</div>
    <div class="expertise">Software Solution Architecture</div>
    <div class="expertise">Typescript</div>
    <div class="expertise">Angular</div>
    <div class="expertise">NestJS</div>
    <div class="expertise">HTML</div>
  </div>
  <div class="area-of-expertise-row">
    <div class="expertise">Javascript</div>
    <div class="expertise">Docker</div>
    <div class="expertise">CSS</div>
    <div class="expertise">RxJS</div>
    <div class="expertise">SQL</div>
    <div class="expertise">Lua</div>
    <div class="expertise">C++</div>
    <div class="expertise">Rust</div>
    <div class="expertise">PHP</div>
  </div>
</div>
