<div class="work-experience-container">
  <div class="work-experience-title">
    <div class="work-experience-job">{{experience.job}}</div>
    <div class="work-experience-company"><a [href]="experience.company.website">{{experience.company.name}}</a></div>
  </div>
  <div class="work-date-location">
    <div class="work-date">{{experience.startDate}} - {{experience.finishDate}}</div>
    <div class="work-location">{{experience.location}}</div>
  </div>
  <ul>
    <ng-container *ngFor="let duty of experience.duties">
      <li>{{duty}}</li>
    </ng-container>
  </ul>
</div>
