.courses-and-training-container {
  width: 1280px;
}

.course-and-training-title {
  font-size: 20px;
  margin: 20px 0;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
}

.course {
  width: 50%;
  padding: 15px;
}

.course-title {
  font-size: 18px;
  font-weight: bold;
}

.course-academy {
  font-size: 12px;
  font-style: italic;
}
