---
layout: layouts/base.njk
---

{% include "components/header.njk" %}
{% include "components/about.njk" %}
{% include "components/competencies.njk" %}
{% include "components/experience.njk" %}
{% include "components/education.njk" %}
{% include "components/certifications.njk" %}
{% include "components/skills.njk" %}
{% include "components/projects.njk" %}
{% include "components/opensource.njk" %}
{% include "components/languages.njk" %}
{% include "components/interests.njk" %}
{% include "components/values.njk" %}
{% include "components/contact.njk" %}
{% include "components/legal.njk" %}
