<div class="education-experience-container">
  <div class="education-experience-title">
    <div class="education-experience-degree">{{experience.degree}}</div>
    <div class="education-experience-company"><a [href]="experience.school.website">{{experience.school.name}}</a></div>
  </div>
  <div class="education-date-location">
    <div class="education-date">{{experience.startDate}} - {{experience.finishDate}}</div>
    <div class="education-location">{{experience.location}}</div>
  </div>
</div>
